.logo-text {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #e96b79;
};

fa-icon {
  padding-right: 10px;
}

p.control {
  align-self:center;
}

.navbar {
  //background-image: url("../../../assets/background2.jpg");
}
