<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../../../assets/gift.png" width="28" height="28">
    </a>
    <p class="logo-text">
      FREEBIES
    </p>
  </div>




    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <fa-icon [icon]="faUser"></fa-icon>
            <span>{{username}}</span>
          </p>
          <p class="control">
            <button class="button is-danger" (click)="logOut()">Log out</button>
          </p>
        </div>
      </div>
    </div>
</nav>

<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical is-8">
    <app-freebies-search class="is-child"></app-freebies-search>
  </div>
  <div class="tile is-parent">
    <app-freebies-favorites class="is-child"></app-freebies-favorites>
  </div>
</div>
